<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="studentMapper">


<!-- 
	resultMap에서 TB_STUDENT, TB_DEPARTMENT 테이블 연결
	id, result < 앞에서 배운건 여기까지
	연결하기 위해서 <association property="department" resultMap="departmentMap" /> 사용
	
	showStudent
 -->
<resultMap type="Student" id="studentMap">
	<id property="student_no" column="student_no"/>
	<result property="student_name" column="student_name" />
	<result property="student_address" column="student_address" />
	<association property="department" resultMap="departmentMap" />
</resultMap>

<resultMap type="Department" id="departmentMap">
	<id property="department_no" column="department_no"/>
	<result property="department_name" column="department_name" />
	<result property="category" column="category" />
</resultMap>

<select id="showStudent" parameterType="String" resultMap="studentMap">

	<!--
		#{word}: 조건
		 1) word가 null인지 아닌지
		 2) WHERE student_no, student_name, student_address, department_name, category랑 word가 포함되어 있는지
			이 중 하나만 걸려도 되니까 OR로 처리
	-->


	SELECT student_no, student_name, student_address, department_name, category
	FROM TB_STUDENT S
	JOIN TB_DEPARTMENT D ON (S.DEPARTMENT_NO = D.DEPARTMENT_NO)
		<trim prefix="WHERE" prefixOverrides="OR">
			<if test="#{word}!=null">
				<if test="student_no != null">
					student_no LIKE '%' || #{word} || '%'
				</if>
				<if test="student_name != null">
					student_name LIKE '%' || #{word} || '%'
				</if>
				<if test="student_address != null">
					student_address LIKE '%' || #{word} || '%'
				</if>
				<if test="department_name != null">
					department_name LIKE '%' || #{word} || '%'
				</if>
				<if test="category != null">
					category LIKE '%' || #{word} || '%'
				</if>
			</if>
		</trim>
</select> 

 </mapper>