<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>회원조회</h1>
	<form action="/find.do" method="post">
		<!--  아이디 : <input type="text" name="id"><br>
		주소 : <input type="text" name="addr"><br>-->
		
		<label>
		<input type="checkbox" name="checkId" value="user"> user
		</label>
		<label>
		<input type="checkbox" name="checkId" value="je"> je
		</label>
		<label>
		<input type="checkbox" name="checkId" value="a"> a
		</label>
		
		<input type="submit" value="조회">
	</form>
</body>
</html>